<div class="content">
	<header>
		<h1>Cookie scraper</h1>
	</header>

	<div id="form">
		<form>
			<label for="site">Website page:</label>
			<input type="text" name="site"/>
			<p>Please enter the full url.</p>
			<button type="submit">Submit</button>
		</form>

		<div id="results"></div>
	</div></div>

</div>