<div id="form">
	<form class="form">
		<div class="field">
			<label for="site" class="label">
				Website page
			</label>
			<input class="input" name="site" disabled />
			<p class="help">loading</p>
		</div>
		<div className="field field__secondary">
			<div className="field__checkbox">
				<input type="checkbox" disabled />
				<label for="onLoaded" class="inline-label">
					Check to wait for DOM Content Loaded rather than
					idle. This is useful if you get a timeout with it
					unticked.
				</label>
			</div>
		</div>
		<button class="submit" type="submit" disabled>
			Search for cookies
		</button>
		<hr class="separator" />
		<div class="more-info">
			<p class="help">
				Ideally leave the checkbox above unchecked. This has the
				page wait until network activity mainly stops before
				continuing. Sometimes it never stops though. Sometimes
				sites just take too long.
			</p>
			<p class="help">
				The sites will see this traffic as coming from the US.
				The cookie consent check on a site can vary by location
				so it might not get triggered.
			</p>
			<p class="help">
				This only looks at the first 10k pixels in height of a page.
				Usually not an issue.
			</p>
			<p class="help">
				The count and assignment of first party vs third party
				cookies is a work in progress. If you could, let
				me know where it's still incorrect.
			</p>
			<p class="help">
				Puppeteer is launched in an incognito context.
			</p>
			<p class="help">
				Lastly, this is a proof of concept and it's possible to break it.
				Let me know if that happens.
			</p>
		</div>
	</form>
	<hr class="separator" />
</div>