<p>{{loadingState}}</p>

<div id="app"></div>

<div id="hydration"><div class="wrapper">
	<form id="cookie-form">
		<input type="text" />
		<button type="submit">Submit</button>
	</form>

	<div id="results"></div>
</div></div>