@font-face {
	font-family: 'fira_sansregular';
	src: url('/firasans-regular-webfont.woff2') format('woff2'),
		url('/firasans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserratsemibold';
	src: url('/montserrat-semibold-webfont.woff2') format('woff2'),
		url('/montserrat-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	--dark-highlight: #472d30;
	--light-highlight: #723d46;
	--warning: #e26d5c;
	--good: #c9cba3;
	--background: #ffe1a8;
	--light-background: #fff6e4;
	--white: #fff;
	--border-height: 2px;

}

body {
	background: var(--background);
	font-family: 'fira_sansregular';
	font-size: 18px;
	margin: 0;
}

.content {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

header {
	margin-block: 4rem;
	text-align: center;
}

h1 {
	font-family: 'montserratsemibold';
}

button {
	background: var(--light-background);
	border: var(--border-height) solid var(--warning);
	box-shadow: none;
	padding: 0.5em;
	font-family: 'fira_sansregular';
	font-size: 16px;
}

button:active {
	background: var(--dark-highlight);
	color: var(--white);
}

button:hover {
	background: var(--light-highlight);
	color: var(--white);
}

.submit {
	margin-block-start: 1em;
}

#form {
	margin: 0 auto;
	max-width: 600px;
	padding-inline: 1em;
}

.label {
	display: block;
}

.input {
	width: 80%;
	height: 2em;
	font-family: 'fira_sansregular';
	font-size: 16px;
}

.help {
	font-size: 16px;
	margin-block-start: 0.5em;
}

.more-info {
	background-color: var(--light-background);
	padding: 0.5em;
}

.separator {
	display: block;
	height: var(--border-height);
	border: 0;
	border-top: var(--border-height) solid var(--warning);
	margin: 1em 0;
	padding: 0;
}

.status {
	padding: 1em;
	margin-block: 2em;
}

.good {
	background-color: var(--good);
}
.loading {
	background: var( --light-highlight );
	color: var(--white);
}

.error {
	background: var(--light-highlight);
	color: var(--white);
}

.results {
	margin-block-start: 2em;
}

.cookie {
	padding: 1em;
	margin-block: 0.5em;
	font-size: 16px;
	background: var(--light-background );
	border: 15px solid var(--light-background);
}

.first-party {
	border-color: var(--good);
}

.third-party {
	border-color: var(--warning);
}

.which-party {
	font-size: 18px;
	border-bottom: var(--border-height) solid var(--light-highlight);
	margin-block-end: 1em;
}

.show-details {
	background-color: var(--background);
	margin-block-start: 1em;
}

footer {
	margin: 0;
	background: var(--dark-highlight);
	color: var(--white);
}

.footer-content {
	font-size: 16px;
	max-width: 600px;
	margin: 0 auto;
	padding: 1em;
}
